.tasks-container {
    padding: 20px;
}

.task-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.task-filters button {
    margin-right: 10px;
    padding: 6px 14px;
    border: none;
    background: #e5e7eb;
    border-radius: 6px;
    cursor: pointer;
}

.task-filters button:hover{
    background: #2563eb;
    color: white;
}
.task-filters button:focus{
    background: #2563eb;
    color: white;
}

.task-filters button.active{
    background: #2563eb;
    color: white;
}

.search-box {
    height: 30px;
    width: 300px;
    padding: 6px 10px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
}

.task-table {
    width: 100%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
}

.task-table th,
.task-table td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
}

.task-table th {
    background: #f1f5f9;
    font-size: 14px;
    color: #475569;
}

.status {
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
}

.status.inProgress {
    background: #fef3c7;
    color: #92400e;
}

.status.completed {
    background: #dcfce7;
    color: #166534;
}

.status.notStarted {
    background: #fee2e2;
    color: #991b1b;
}

.progress-bar {
    width: 100px;
    height: 6px;
    background: #e5e7eb;
    border-radius: 5px;
}

.progress-fill {
    height: 100%;
    background: #2563eb;
    border-radius: 5px;
}