/* DEFAULT (LIGHT THEME) */
:root {
  --bg-main: #f4f6fa;
  --bg-card: #ffffff;
  --text-main: #1f2937;
  --text-muted: #6b7280;
  --primary: #4f46e5;
  --border: #e5e7eb;
}

/* DARK THEME */
body.dark {
  --bg-main: #0f172a;
  --bg-card: #1e293b;
  --text-main: #e5e7eb;
  --text-muted: #9ca3af;
  --primary: #6366f1;
  --border: #334155;
}
